:root {
    --sidebar-width: 0;
    --sidebar-height: 0;
}

svg.sudoku {
    height: calc(min(95vw, 95vh - var(--sidebar-height) * 1px) - 40px);
    width: calc(min(95vw, 95vh - var(--sidebar-height) * 1px) - 40px);
    margin: 0;
    padding: 0;
    cursor: default;
    touch-action: none;
}

.numpad-button {
    width: 6rem !important;
    height: 4rem !important;
    font-size: 2rem !important;
}

.mode-button {
    width: 4rem !important;
    height: 4rem !important;
    font-size: 2rem !important;
}

@media(min-width:600px) {
    svg.sudoku {
        height: calc(min(95vw - var(--sidebar-width) * 1px, 95vh) - 40px);
        width: calc(min(95vw - var(--sidebar-width) * 1px, 95vh) - 40px);
        margin: 0;
        padding: 0;
        cursor: default;
        touch-action: none;
    }
}

svg.sudoku:focus {
    outline: none;
}

svg text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    svg text::selection {
        background: none;
    }

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: .35em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner .75s linear infinite;
    animation: spinner .75s linear infinite;
}

.app-loader {
    position: fixed;
    top: 45%;
    left: 45%;
}

    .app-loader .spinner {
        width: 5rem;
        height: 5rem;
    }
